
<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2 text-primary text-justify text-center">About us</h5>
    <!--headin5_amrc-->
    <p class="mb10 text-justify ">
     MobileMania is a platform where we sell products with No Interest on EMI. We make the buying process a whole lot simpler. 
     Customers can purchase products without owning a credit card. Our EMI cards, issued as per eligibility,
      enables the customer to purchase products according to their limit. 
    </p>
    
    </div>
    
    
    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2 text-primary text-justify text-center ">Contact Us</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc text-center">
     <!-- <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 mania 35 </p>   -->
    <p><i class="fa fa-phone text-justify "></i>  Help line No:  +91-9799878398  </p>
    <p><i class="fa fa-phone text-justify"></i>  Main Office No:  +91-7699333311  </p>
    
    <p><i class="fa fa fa-envelope text-justify"></i>  us.bot18@gmail.com </p>
    <span class= "text-justify white-copyright">1135, Pride Business Park, Woodworth Rd, </span>   
    <p class= "text-center white-copyright" > Airoli, Thane, Maharashtra 400708</p>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>
    
    </div>
    </div>
    
    <div class="container">
    <ul class="foote_bottom_ul_amrc text-body">
      <li><h5 class="headin5_amrc col_white_amrc pt2 text-justify text-center" ><br></h5> 
        </li>
    </ul>
    
    </div>
    
    </footer>
    
    