<!-- 
<div id="change-password">
    <h3 class="text-center text-white pt-5">Change Password Form</h3>
        <div class="container">
            <div id="change-password-row" class="row justify-content-center align-items-center">
                <div id="change-password-column" class="col-md-6 mybackground">
                    <div id="change-password-box" class="col-md-12">
                        

                        <form class="form"  (ngSubmit)="changePassword()">
                            <br/>
                            <br/>                            
                            <h3 class="text-center text-primary">Change Password</h3>
                            <br/>
                            <br/>
                            <div class="form-group" align="center"> 
                                <input type="password" id="password1" minlength="8" required ngModel name="password1" placeholder="Enter Password" class="form-control"> 
                            </div>

                            <div class="form-group" align="center"> 
                                <input type="password" id="password2" minlength="8" required ngModel name="password2" placeholder="Re-enter Password" class="form-control">
                            </div>
                            <br/><br/>
                            <div align="center">
                                <label  class="text-danger">(Password should be at least 8 characters long)
                                </label>
                              </div>

                            <div class="form-group" align="center">
                                <button type="submit" name="submit"  class="btn btn-primary btn-small btn-block margintop-small">Change Password</button>
                            </div>
                            <br/>
                        </form>


                    </div>
                </div>
            </div>
        </div>
</div>
<br><br><br><br> -->


        <form class="form"  >
            <br/>
            <br/>                            
            <h3 class="text-center text-primary">Change Password</h3>
            <br/>
            <br/>
            <div class="form-group" align=center > 
                <input type="text" id="New Password" required  placeholder="Enter New Password">
            </div>
            <div class="form-group" align=center > 
                <input type="text" id="Confirm Password" required  placeholder="Confirm Password">
            </div>

            <div class="form-group" align="center">
                <button type="submit" name="submit" >Save</button>
            </div>
        </form>
        
           
          