
    .fontuser, .fontpassword{ 
        position: relative;
        margin-bottom: 25px; 
    }
    .fontuser i, .fontpassword i{ 
        position: absolute; 
        left: 15px; 
        top: 10px; 
    } 
    .placeholder-padding{
      padding-left: 43px;
    }
    .margintop{
      margin-top: 40px;
    }
    .margintop-small{
      margin-top: 25px;
    }
    .mybackground{
      /*background-color: #e8e8e8;*/
      /*background-color: #f0f0f0;*/
      background-color: #f8f9fa;
      /*background-color: #ededed94;*/
      padding: 40px 40px 60px 40px;
    }

    