<!-- <div id="forgot-password">
    <h3 class="text-center text-white pt-5">Forgot Password Form</h3>
        <div class="container">
            <div id="forgot-password-row" class="row justify-content-center align-items-center">
                <div id="forgot-password-column" class="col-md-6 mybackground">
                    <div id="forgot-password-box" class="col-md-12">
                        <form class="form"  (ngSubmit)="getOtp()">
                            <br/>
                            <br/>                            
                            <h3 class="text-center text-primary">Forgot Password</h3>
                            <br/>
                            <br/>
                            <div class="form-group" align="center"> 
                                <input type="text" id="email" required ngModel name="email" placeholder="Enter email id" class="form-control">
                            </div>
                            
                            <div class="form-group" align="center">
                                <button type="submit" name="submit"  class="btn btn-outline-primary btn-small">Get OTP</button>
                            </div>
                            <br/>
                        </form>
                        
                        <div >
                        <form class="form"  (ngSubmit)="verifyOtp()">
                            <br/>
                            <div class="form-group" align="center"> 
                                <input type="text" id="otp" required ngModel name="otp" placeholder="Enter OTP" class="form-control">
                            </div>
                            
                            <div class="form-group" align="center">
                                <button type="submit" name="submit" class="btn btn-outline-primary btn-small">Verify OTP</button>
                            </div>
                            <br/>
                        </form>

                        <div id="login-link" class="text-center margintop">
                            <a [routerLink]="['/login']" class="text-primary">Login to your account</a>
                        </div>

                        <div id="register-link" class="text-center">
                            <a [routerLink]="['/register']" class="text-primary">Don't have an account? Register Here</a>
                        </div>

                        </div>
                        
                    </div>
                </div>
            </div>       
        </div>
</div>
<br><br><br><br> -->

<!-- <h3 class="text-center text-white pt-5">Forgot Password Form</h3> -->
        <form class="form"  (ngSubmit)="getOtp()">
            <br/>
            <br/>                            
            <h3 class="text-center text-primary">Forgot Password</h3>
            <br/>
            <br/>
            <div class="form-group" align=center > 
                <input type="text" id="Phone number" required  placeholder="Enter Phone Number">
            </div>

            
            
            <div class="form-group" align=center >
                <button type="submit" name="submit"  >Get OTP</button>
            </div>
            <br/>
            
        </form>
        <form class="form"  (ngSubmit)="verifyOtp()">
            <br/>
            <div class="form-group" align="center"> 
                <input type="text" id="otp" required  placeholder="Enter OTP" >
            </div>
            
            <div class="form-group" align="center">
                <button type="submit" name="submit" >Verify OTP</button>
            </div>
            <br/>
        </form>